/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);

/* ******************************
 For the github btn
****************************** */

.content { margin-top: 3em; border-top: 1px solid gray;}
.content img { max-width: 80%;}

ul.tags { list-style: none; margin: 0; padding: 0; display: inline; }
ul.tags li { display: inline; }
ul.tags li:after { content: ","; }
ul.tags li:last-child:after { content: ""; }

.github-btn {
  font-size: 11px;
}
.github-btn,
.github-btn .btn {
  font-weight: bold;
}
.github-btn .btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e0e0e0));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e0e0e0, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
}

.github-btn .btn-default:hover, .github-btn .btn-default:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px;
    color: #333;
    border-color: #adadad;
}

.nav-github {
    width: 325px;
}
 .nav-github > span {
     padding-right: 0.5em;
 }

 .icon-github {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }

 .github-watchers .icon-github:before{
      content: "\f005";
 }

 .github-forks .icon-github:before{
      content: "\f126";
 }

.gh-count{
  padding: 2px 5px 3px 4px;
  color: #555;
  text-decoration: none;
  text-shadow:0 1px 0 #fff;
  white-space:nowrap;
  cursor:pointer;
  border-radius:3px;
  position:relative;
  display:none;
  margin-left:4px;
  background-color:#fafafa;
  border:1px solid #d4d4d4;
}

.gh-count:hover,.gh-count:focus{color:#4183c4;text-decoration: none;}
.gh-count:before,.gh-count:after{content:' ';position:absolute;display:inline-block;width:0;height:0;border-color:transparent;border-style:solid}
.gh-count:before{top:50%;left:-3px;margin-top:-4px;border-width:4px 4px 4px 0;border-right-color:#fafafa}
.gh-count:after{top:50%;left:-4px;z-index:-1;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#d4d4d4}

thead {
    font-weight: bold;
}

table {
    width: 100%;
}


h1, h2, h3 {
    margin-top: .8em;
    margin-bottom: .7em;
}

pre code {
    font-size: 18px !important;
    font-family: 'Courier New', monospace;
}

body {
    color: #353b44;
    background: #edece4;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:16px !important;
    font-weight: 300;
}

h1,h2,h3,h4,h5{
    font-weight: 400;
}

label{
    font-weight: 300;
}

.sidebar-menu .fa {
    width: 30px;
    text-align: center;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}

.panel-body {
    padding-bottom: 0px;
    overflow: hidden;
    position: relative;
}

.panel-body a {
    line-height: 1.1;
    display: inline-block;
}
.panel-body a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #ff4088;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.panel-body a:hover:after, .panel-body a:focus:after {
    width: 100%;
}

input:focus, textarea:focus { outline: none; }
*:focus {outline: none;}
::selection {
    background: #ff4088;
    color: #fff;
}
::-moz-selection {
    background: #ff4088;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#container.sidebar-closed #sidebar {
    left: -200px;
}

#container.sidebar-closed #main-content {
    margin-left: 0px;
}
/* Sidebar Navigation */

#sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    background: #ffffff;
    overflow-y: auto;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    left: 0px;
}


ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 60px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #eeeeee;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 0 0 0 32px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #737B83;
    font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #ff4088;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    line-height: 20px !important;
    text-transform: capitalize;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
    font-size: 16px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #8b9199;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    overflow:hidden;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #eeeeee;
    color: #ff4088;
    display: block;
    /*border-radius: 4px;
    -webkit-border-radius: 4px;*/
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    border-bottom: 1px solid #ff4088;
}
/*ul.sidebar-menu li.active a,*/ ul.sidebar-menu .sub-menu li.active a{
    border-bottom: 1px solid #ff4088;
}

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;
    /*color: #ff4088;*/
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #ff4088;
}

ul.sidebar-menu li.active a i {
    color: #ff4088;
}


#sidebar ul > li > a .menu-arrow {
    float: right;
    margin-right: 8px;
    margin-top: 6px;
}

#main-content {
    margin-left: 200px;
    line-height: 1.8;
    font-size: 19px;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.header {
    min-height: 60px;
    padding: 0 10px;
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    text-align:center;
}


.black-bg {
    background: rgba(10,10,10,0.9);
    border-bottom: 3px solid rgba(20, 20, 20, 0.7);
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 20px 0px 15px 0px;
    width: 100%;
}

a.logo {
    font-size: 22px;
    font-weight: 300;
    color: #8E8E93;
    float: left;
    margin-top: 10px;
    text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

h1.top-menu {
    margin-top: -5px;
}
.title-row {
    margin-top: 15px;
    margin-left: 16px;
    color: #EEE;
}
.notification-row {
    float: right;
    margin-top: 15px;
    margin-left: 65px;
}


.top-nav  {
    margin-top: 15px;
}

/* Sidebar Toggle */

.toggle-nav {
    float: left;
    padding-right: 5px;
    margin-top: 20px;
    cursor: pointer;
    color: gray;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}


@-webkit-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@-ms-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

.navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    max-width: 150px;
    min-width: 90px;
    width:100%;
    min-height:1200px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 6em;
    color: rgba(0,0,0,0.5);
    text-align: center;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.navigation.next {
    right:0;
}


.navigation:hover {
    background-color: rgba(0,0,0,0.1);
}

.wrapper {
   padding-right: 0px;
}

/* Thumbnail */
.thumbnail-container-parent{
    padding-bottom:1em;
}

.thumbnail-container{
    width: 100%;
    padding-bottom: 75%;
    position: relative;
}
.thumbnail {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1px solid #eee;
}
.thumbnail img.img-responsive{
    width: 100%;
    height: auto;
    display: block;
}

.thumbnail .thumbnail-meta {
    position: absolute;
    width: 100%;
    height: 48px;
    line-height: 45px;
    left: 0px;
    bottom: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0px 10px;
    background: rgba(255, 255, 255, 0.9);
    border-top: 3px rgba(220, 220, 220, 0.08) solid;
    transition: all .2s linear;
    cursor: pointer;
}

.thumbnail .thumbnail-meta h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 45px;
}
.thumbnail .thumbnail-meta h4 a {
    line-height: 45px;
    text-decoration: none !important;

}

.thumbnail:hover .thumbnail-meta {
    background: rgba(255, 64, 136, 0.9);
    height: 55px;
}

.thumbnail:hover .thumbnail-meta h4 a {
    color: #FFFFFF;
}

.thumbnail .thumbnail-meta .license {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
    max-width: 55px;
    overflow: hidden;
    text-transform: uppercase;
}

.thumbnail:hover .thumbnail-meta .license {
    opacity: 0.0;
}

.thumbnail h4 a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    line-height: 100%;
}

/* Contribute */
.contribute {
    border-top:1px #efefef solid;
    line-height: 30px;
    padding: 25px 0px 15px;
    position: relative;
    background: #f9f9f9;
}

.contribute i {
    display: inline-block;
    float: left;
    line-height: 80px;
    height: 100%;
    font-size: 30px;
    padding:0px 25px;
    position: absolute;
    left:0px;
    top:0px;
}

.contribute p {
    padding-left: 80px;
    padding-right: 10px;
}


/* Single */
.btn-block {
  display: block;
  width: 100%;
}
.back-link{
    margin-bottom: 15px;
}
#theme-header {
    overflow: hidden;
    margin:-20px;
    height: 410px;
    position: relative;
    border: 1px #ccc solid;
}

#theme-header img.screenshot-blurred {
    position: absolute;
    width: 115%;
    height: auto;
    left:0px;
    top:0px;
    opacity: 0.4;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    /* Cross Browser Compatibility */
    filter: url(blur.svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
    z-index: 15;
}

#theme-header .screenshot-container {
    padding: 40px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#theme-header img.screenshot-normal {
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#theme-header div.dark-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    background: rgba(6, 148, 203, 0.3);
    /*background: rgba(10, 10, 10, 0.1);*/
}

#theme-header .row {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 40;
    height: 100%;
}

#theme-header .row .col-md-6 {
    float: right;
}

#theme-header .theme-details {
    margin-top: 35px;
    padding-left: 25px;
}

#theme-header .theme-details h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    color: #232323;
}

#theme-header .theme-details .description {
    color: #232323;
}

#theme-header .theme-details ul.theme-meta {
    list-style-type: none;
    margin: 10px 0px 0px 0px;
    padding: 0;
}

#theme-header .theme-details ul.theme-meta span.label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    opacity: 0.95;

}

#theme-header .theme-details ul.theme-meta a, #theme-header .theme-details ul.theme-meta span.value {
    font-weight: bold;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.45);
    padding:2px 8px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#theme-header .theme-details ul.theme-meta span.value {
    color: #454545;
}

#theme-header .theme-buttons {
    position: absolute;
    left: 30px;
    bottom: 35px;
}

#theme-header .theme-buttons .btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-right:5px;
}

#theme-header .theme-buttons .btn i{
    padding-right: 10px;
}

#theme-header .theme-buttons a.btn{
    padding:10px 8px !important;
    border: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

#theme-header .theme-buttons a.btn-info {
    background: #00a0f0 !important;
    text-decoration: none !important;
}

#theme-header .theme-buttons a.btn-success {
    background: #34ad00 !important
}

#theme-header .theme-buttons a.btn:hover {
    color: #FFF;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#theme-header .theme-buttons a.btn:after {
    background-color: transparent;
}

#theme-header .theme-buttons a.btn-dark {
    color: #242424;
}

#theme-header .theme-buttons a.btn-dark:hover {
    color: #121212;
}

.content {
    border-top: none;
    margin-top: 10px;
    padding:10px;
}

.content pre {
    padding: 3px;
    background:#121212;
}

.content pre code {
    font-size: 14px !important;
    font-family: Consolas,Monaco,'Andale Mono',monospace;
}

/* Prevent the top menu overlap the headlines when clicking on anchors. */
h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}
