<div class="col-sm-6 col-md-4 thumbnail-container-parent">
    <div class="thumbnail-container">
        <div class="thumbnail">
            <a href="{{ .Permalink }}">
                <img class="lazyload img-responsive img-rounded" alt="{{ .Description }}" data-src="{{ .Site.BaseURL }}{{ .Params.thumbnail }}">
            </a>
            <div class="thumbnail-meta">
                <h4>
                  <a href="{{ .Permalink }}">{{title (replace .Params.name "-" " ")}}</a>
                </h4>
            </div>
        </div>
    </div>
</div>
